table .header-fixed {
    position: fixed;
    top: 300px;
    /*left: 0;*/
    /*right: 0;*/
    z-index: 1020;
    /* 10 less than .navbar-fixed to prevent any overlap */
}

thead {
    background-color: #eaeaea;
}